[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
rncryptor = "*"
bpylist2 = "*"
click = "*"
pyqrcode = "*"
pycryptodome = "*"

[requires]
python_version = "3.12"
